/* Coded by Allister Rampenthal Aug 15,2020
------------------------------------------------
Font Families Used :

font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Ubuntu Condensed', sans-serif;
------------------------------------------------
Colors Used:

global blue: #00e1ff
Body Background: #c2c2c2
Footer: #696969


*/

/* Global Styling */
body {
    background: #c2c2c2;
    position: relative;
    font-family: 'Quattrocento Sans', sans-serif, serif;
}

nav {
    border-bottom: 2px solid #00e1ff;
}

h3, h4 {
    color: #00e1ff;
    font-family: 'Ubuntu Condensed', sans-serif, Georgia, 'Times New Roman', Times, serif;
}

footer {
    color: #00e1ff;
    margin-top: 100px;
    padding: 20px;
    background-color: #696969;
    text-align: center;
    font-size: 1.2em;
}

.navbar .navbar-brand {
    font-size: 2em;
    color: #00e1ff;
    font-family: 'Righteous', cursive, Georgia, 'Times New Roman', Times, serif;
}

.btn-outline-primary {
    border-color: #00e1ff;
    color: #00e1ff;
}
.btn-outline-primary:hover {
    background-color: #00e1ff;
    border-color: #00e1ff;
}

.section {
    margin-top: 50px;
    color: #000;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #00e1ff;
}

/* Index Styling */

img.thumbnail {
    width: 200px;
}

/* Portfolio Page Styling */

.card {
    color: white;
    padding: 20px;
    margin: 20px auto;
    background: #696969;
    border: 2px solid #00e1ff;
}

/* Contact Page Styling */

.contact-logos {
    text-align: center;
}

.contact-logos img {
    width: 40px;
    margin: 10px;
}









